
.slideGal {

  perspective: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 580px;
  margin-bottom: 10px;
}
.slideGal > * {
  flex: 0 0 auto;
}
.slideGal figure {
  margin: 0;
  width: 800px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: 50% 50% -936.843px;
}
.slideGal figure img {
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  opacity: 0.9;
}
.slideGal figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 50% 50% -936.843px;
}
.slideGal figure img:nth-child(2) {
  transform: rotateY(0.7853981634rad);
}
.slideGal figure img:nth-child(3) {
  transform: rotateY(1.5707963268rad);
}
.slideGal figure img:nth-child(4) {
  transform: rotateY(2.3561944902rad);
}
.slideGal figure img:nth-child(5) {
  transform: rotateY(3.1415926536rad);
}
.slideGal figure img:nth-child(6) {
  transform: rotateY(3.926990817rad);
}
.slideGal figure img:nth-child(7) {
  transform: rotateY(4.7123889804rad);
}
.slideGal figure img:nth-child(8) {
  transform: rotateY(5.4977871438rad);
}
.slideGal nav {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}
.slideGal nav button {
  flex: 0 0 auto;
  margin: 0 5px;
  cursor: pointer;
  color: #333;
  background: none;
  border: 1px solid;
  letter-spacing: 1px;
  padding: 5px 10px;
}


@media only screen and (min-device-width : 350px) and (max-device-width : 640px) {


  .slideGal {
  height: 450px;
  }

  .slideGal figure {
    width: 400px;
    transform-origin: 50% 50% -936.843px;
  }

  .slideGal figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 25px;
    transform-origin: 50% 50% -935.843px;
  }

  .slideGal nav {
    display: flex;
    justify-content: center;
    margin: 45px 0 0;
  }

}