.gallery-slider_wrapper {
  width:100%;
  max-width:768px;
  margin:auto;
}
.gallery-slider_wrapper .owl-theme .owl-nav {
    margin:0;
}
.gallery-slider_wrapper .owl-theme .owl-nav [class*=owl-] {
    width:30px;
    height:120px;
    background:#ea4c6f;
    font-size: 20px;
    color:#fff;
    margin:0;
    padding: 0;
    border-radius: 0;
}
.gallery-slider_wrapper .owl-carousel .owl-nav .owl-prev:before,
.gallery-slider_wrapper .owl-carousel .owl-nav .owl-next:before {
    font-family: 'LineAwesome';
    position: absolute;
    line-height: 120px;
    width:30px;
    text-align: center;
    top:0;
    left:0;
}
.gallery-slider_wrapper .owl-carousel .owl-nav .owl-prev:before {
    transform: rotate(180deg);
    content: "➜";
}
.gallery-slider_wrapper .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top:0;
    left:-25px;
}
.gallery-slider_wrapper .owl-carousel .owl-nav .owl-next:before {
    content: "➜";
}
.gallery-slider_wrapper .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top:0;
    right:-24px;
}
.gallery-slider_wrapper .owl-theme .owl-nav [class*=owl-]:hover {
    background:#fff;
    color:#ea4c6f;
}
.gallery-slider_wrapper .single-gallery-carousel-thumbnail-box .item {
    position: relative;
    margin: 0 5px;
    height: 120px;
}
.gallery-slider_wrapper .single-gallery-carousel-thumbnail-box .item img {
    height: 100%;
    cursor: pointer;
}

#imageSize{
  height: 400px;
  object-fit: contain;
}

#boxSize{
  height:630px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.bgc{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%,rgba(255,255,255,0) 75%,rgb(19, 19, 19) 100%),url("../upload/gta_decors5.png");    
}

#mIniImg{
  object-fit: cover;
}
@media only screen and (min-device-width : 350px) and (max-device-width : 640px) {
    
  #imageSize{
    height: 220px;
    margin-bottom: 80px;
  }
  
  
  
}