*{
    font-family: 'Iceland', cursive;
    color:antiquewhite ;
}

 #colorNav {
    background-color: black;
    height: 100px;
}

#ulNav{
    position: relative;
    left: 20%;
    align-items: center;
    background: black;
}
#backOff{
    position: absolute;
    left: 50%;
}
#navbarColor01 a{
    color: #ffffff;
}

#navbarColor01 a:hover{
    color: #ada4a4;
}

#logoIsland{
    width:15%;
    position: absolute;
    top: 10px;
    z-index: 1;
}
#outLink{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    position: relative;
    left: 32%;
}
.nav-item{
    margin-right: 4rem !important;
}

footer{
    background-color: rgba(0, 0, 0, 0.85);
}

.logoFooter{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-right: 10px;
}
/*
media queries format mobile
*/

@media only screen and (min-device-width : 350px) and (max-device-width : 801px) {
  
    #logoIsland{
        width:40%;
        z-index: 21;
    }   

    #ulNav{
        background-color: black;
        width: 80%;
        position: relative;
        left: 24.3%;
        align-items: inherit;
        top:0%;
        height: 96.8vh;
        padding-top:24%;
        z-index: 20;
    }

    #burger{
        width: 100%;
        position: relative;
        top: 20px;
        z-index: 21;
      }
    
      #navbarColor01{
        color: #ffffff;
        margin: -20px;
        overflow: hidden;
    }
    
    #outLink{
            position: absolute;
            left: 70%;
            top: 90vh;    
    }
    #buttonBurger{
        position: relative;
        top: 20%;
    }

    .hideLogo{
        display: none;
    }

    .logoFooter {
        height: 60px;
      }
}

