*{
   
    font-family: 'Iceland', cursive;
}

body{
    background-color: black;
   
} 

.main{
    background-image: url("../upload/predation.png");    
    background-color: black;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
    background-size: cover;
}

.logoIsland{
    width: 25%;
    margin: 10px;
}

.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90VH;
    position: absolute;
    left: 52%;
    top:-12%;
}

h3{
    color: aliceblue;
    font-size: 50px;
    display: flex;
    align-items: baseline;
    position: absolute;
    left: 57%;
}

.bloc{
   display: flex;
   flex-direction: column;
   width: auto;
   padding: 40px;
   justify-content: center;
}

strong{
    justify-content: center;
    display: flex;
    font-size: 80px;
    color: antiquewhite;
}

em{
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

.txtAcc{
color: antiquewhite;
font-size: 25px;
position: fixed;
top:55%;
width: 45%;
left: 52%;
/* background-color: rgba(43, 41, 41, 0.64); */
border-radius: 5px;
text-align: center
;
}

.barDown{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
    gap: 10px;
    align-items: center;
    position: fixed;
    left: 35%;
    top:89%;
    border-radius: 35px;
    height: 50px;
    opacity:1.5;
   
} 

.barDown:hover{
    box-shadow: rgba(237, 222, 14, 0.55) 0px 0px 30px;
    opacity:1.5;
    animation-name: flash;
    animation-duration: 3s; 
    background-color: rgba(34, 37, 37, 0.217);
}

.drop{
    height: 50px;
}

section{
    width: 100%;
    position: relative;
    top:-19.5px;
    float: Left;
    display: none;
    opacity:1.5;
    animation-name: slide;
    animation-duration: 3s; 
    justify-content: space-between;
    align-items: center ;
}

span{
    position: relative;
    top:20px;
}

div:hover section{
    display: flex;
}

div:hover .barDown{
    display: flex;
}

#soundButton {
    position: fixed;
    top: 50px;
    right: 50px;
    font-size: 40px;
}

  button{
    background: none;
    border: none;
}

@keyframes slide {
    0%{opacity: 1;}
    100%{opacity: 1;}
    
}

@keyframes flash {
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}


.discordLogo{
    position: relative;
    left:1px;
    top: 5px;
}

.leftSocials{
position: relative;
left: -1px;
}

.rightSocials{
position: relative;
left: 6px;
}


 
.countdownHolder{
    font: 100px ‘Open Sans Condensed’,sans-serif;
    position: relative;
    left: 100%;
    margin:0 auto;
    font: 100px 'Open Sans Condensed',sans-serif;
    text-align:center;
    letter-spacing:-13px;
}

.position{
    display: inline-block;
    height: 135px;
    overflow: hidden;
    position: relative;
    width: 65px;
}

.digit{
    position:absolute;
    display:block;
    background-color:#44444400;
    border-radius:0.2em;
    text-align:center;
    
    letter-spacing:0px; 
    width: 60px;
    height:85px;
    font-size: 70px;
    border:2px solid  antiquewhite ;
 
}

.digit.static{
   
    box-shadow:1px 1px 1px rgba(2, 2, 2, 0.35);
    text-shadow: 2px 0 0 antiquewhite, 2px 2px 0 antiquewhite, 0 2px 0 antiquewhite, -2px 2px 0 antiquewhite, -2px 0 0 antiquewhite, -2px -2px 0 antiquewhite, 0 -2px 0 antiquewhite, 2px -2px 0 antiquewhite;
    background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.5, #cdc4c400),
            color-stop(0.5, #dcd4d400)
    );
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{ /* display:none !important;*/ }
.countDiv0{ /* display:none !important;*/ }
.countHours{}
.countDiv1{}
.countMinutes{}
.countDiv2{}
.countSeconds{}


.countDiv{
    display:inline-block;
    width:16px;
    height:1.6em;
    position:relative;
}

.countDiv:before,
.countDiv:after{
    position:absolute;
    width:10px;
    height:10px;
    background-color:antiquewhite;
    border-radius:50%;
    left:50%;
    margin-left:-3px;
    top:60%;
    box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
    content:'';
}

.countDiv:after{
    top:50%;
}

.acc{
    display: flex;
    flex-direction:row ;
}
/*
media queries format mobile
*/

@media only screen and (min-device-width : 350px) and (max-device-width : 801px) {
  

    body{
        background-color: black;
    }

    .main{
    background-size: cover;
    margin: 0%;
    width: 100%;
   
    }

    .logoIsland{
        width: 30%;
        margin: 10px;
    }

    .bloc{
       
        font-size: 25px;
        padding: 15px;
    }

    h3{
       display: none;
    }

    em{     
        font-size: 15px;
    }

    strong{
        font-size: 30px;
    }

    .numbers{
        flex-direction: column;
        top: 25%;
        left: 8%;
        height: 20vh;
    }

    .txtAcc{
        color: antiquewhite;
        font-size: 17px;
        position: fixed;
        top:71.5%;
        width: 95%;
        left: 3%;
        background-color: rgba(43, 41, 41, 0.64);
        border-radius: 5px;
        line-height: normal;
        
        }

    .barDown {
        width: 100%;
        margin: auto;
        gap: 2px;
        left: 0%;
        top: 92%;
        height: 40px;
    }

    #soundButton {
        font-size: 20px;
        top: 10px;
        right: 10px;

    }
    p{
        width: 80;
    }

    button{
        font-size: 20px;
      }

    .discord{
        width: 70px;
    }

    .drop{
        width: 50px;
        padding: 2px
        
    }

    .discordLogo{
        position: relative;
        left:-3px;
        top: 3px;
    }
    
    .leftSocials{
    position: relative;
    left: 5px;
    }
    
    .rightSocials{
    position: relative;
    left: 5px;
    }

    section{   
        display: block;
    }

    .barDown:hover{
        animation-name: none;
        animation-duration: 0s;
        box-shadow: rgba(255, 255, 255, 0) 0px 0px 30px;
        background-color: rgba(34, 37, 37, 0);
    }

     
        .countdownHolder{
            font: 20px 'Open Sans Condensed',sans-serif;
            position: relative;
            left:-31%;
            margin:-10 auto;
            text-align:center;
            letter-spacing:-13px;
            display: flex;
            flex-direction: column;
            top: -20px;
            
        }

        .position{
            display: inline-block;
            height: 54px;
            overflow: hidden;
            position: relative;
            width: 50px;
        }

        .digit{
            position:absolute;
            display:block;
            background-color:#44444400;
            border-radius:0.2em;
            text-align:center;
            letter-spacing:0px; 
            width: 40px;
            height:50px;
            font-size: 40px;
            border:2px solid  antiquewhite ;
        
        }

        .digit.static{
        
            box-shadow:1px 1px 1px rgba(2, 2, 2, 0.35);
            text-shadow: 2px 0 0 antiquewhite, 2px 2px 0 antiquewhite, 0 2px 0 antiquewhite, -2px 2px 0 antiquewhite, -2px 0 0 antiquewhite, -2px -2px 0 antiquewhite, 0 -2px 0 antiquewhite, 2px -2px 0 antiquewhite;
            background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
            background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
            background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
            background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
            background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);

            background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0.5, #cdc4c400),
                    color-stop(0.5, #dcd4d400)
            );
        }

        /**
        * You can use these classes to hide parts
        * of the countdown that you don't need.
        */

        .countDays{ /* display:none !important;*/ }
        .countDiv0{ /* display:none !important;*/ }
        .countHours{}
        .countDiv1{}
        .countMinutes{}
        .countDiv2{}
        .countSeconds{}


        .countDiv{
            display:inline-block;
            width:16px;
            height:1.6em;
            position:relative;
        }

        .countDiv:before,
        .countDiv:after{
          display: none;
        }

        .countDiv:after{
            top:50%;
        }

        .acc{
            display: flex;
            flex-direction:row ;
        }

        h3{
            color: aliceblue;
            font-size: 35px;
            display: flex;
            align-items: baseline;
            position: absolute;
            left: 3%;
            top: 65%;
            width: 95%;
            background-color: rgba(43, 41, 41, 0.64);
            border-radius: 5px;
            justify-content: center;
        }
        
       
}

